<!-- -*- mode: XML -*- -->

<launch>
    <node name="dxl_manager_node" pkg="dxl_ros" type="dxl_manager.py" required="true" 
    args="$(find dxl_ros)" 
    output="screen">
    </node>
    <node name="dxl_dummy_controller" pkg="dxl_ros" type="dxl_dummy_control.py" required="true" 
    output="screen">
    </node>
</launch>
